<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776051238571-mbp8deiq0b0blfsb0pn0sc25tfj99rk6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776051238571-mbp8deiq0b0blfsb0pn0sc25tfj99rk6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>776051238571-l562rviorn5u7gqejo6l8scnsr07knpj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCx2p0lKFrz4dMjwolY40-xh6SfXYjwJZA</string>
	<key>GCM_SENDER_ID</key>
	<string>776051238571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hamagen</string>
	<key>PROJECT_ID</key>
	<string>hamagen-aa88d</string>
	<key>STORAGE_BUCKET</key>
	<string>hamagen-aa88d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776051238571:ios:0786a0ca3125e9764af9ee</string>
	<key>DATABASE_URL</key>
	<string>https://hamagen-aa88d.firebaseio.com</string>
</dict>
</plist>